@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: forestgreen;
}

.card {
  background-color: white;
  border-radius: 12px;
  width: 250px;
  height: 400px;
  margin: 80px auto;
}

.t-icon {
  margin-left: 10px;
  margin-top: -20px;
  text-align: start;
  float: left;
  font-size: 80px;
  height: 100px;
}
.number {
  font-size: 120px;
  height: 200px;
  margin-top: 30px;
}

.b-icon {
  text-align: end;
  font-size: 80px;
  margin-top: 10px;
  margin-right: 10px;
  height: 100px;
}
